{% extends "layout.html" %}

{% block title %}
    Bought
{% endblock %}

{% block main %}
    <div class="jumbotron">
            <h1>Transactions</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <!--Loops through the database entries to display them in a table -->
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}