{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<input autocomplete="off" autofocus placeholder="Query" type="search">
<footer>
    <ul></ul>
</footer>


<script>

    let input = document.querySelector('input');
    input.addEventListener('input', async function() {
        let response = await fetch('/search?q=' + input.value);
        let shows = await response.text();
        document.querySelector('ul').innerHTML = shows;
    });

</script>
{% endblock %}
