{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h5>A share of {{symbol.name}} ({{symbol.symbol}}) costs {{symbol.price | usd}}</h5>
    <p></p>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="symbol" value={{symbol.symbol}} type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
